h1 {

    color: darkmagenta;
    font-display: bold;
    font-family: Verdana;
    font-size: 7rem;
    padding-top: 1rem;

}

.header {

    background-color: beige;
    padding: 2rem;
    text-align: center;
    
}

a {

    font-size: 16px;
    color: green;

}

nav {
    float: right;

}

body {

    padding: 2rem;
    border: darkmagenta;
    border-style: solid;
    border-width: 2px;
}

.main {

    padding: 3rem;
    background-color: lemonchiffon;

}

.like-button {


        background-color: rgb(214, 232, 166);
       
        cursor: pointer; }
    
    
.like-button:hover {
        background-color: royalblue;
    }

.like-count {

    color: red;

}

