{% load staticfiles %}

<!doctype html>
<html>
    <head>
        <title>{% block title %}
               Chilipili
        {% endblock title %}
        </title>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="{% static 'js/main.js' %}" defer></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>

    {% block header %}

    {% endblock header %}
    
<body> 
    
            

<div class="header">
                 <nav>
                    <a href="{% url 'home' %}">Home</a>
                    {% if user.is_authenticated %}
                   
                        <a href="{% url 'auth_logout' %}">Logout</a>
                    
                    {% else %}
                  
                        <a href="{% url 'auth_login' %}">Login</a>
                   
                   
                        <a href="{% url 'registration_register' %}">Register</a>
                    
                    {% endif %} 
                </nav>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBJ9AxCDj1ibm-TjI4myx9e3tCDjBNqqK8e32bS01BFbLfPchnMA" alt="logo">
                    <h1><strong>Chilipili</strong></h1>
                    <br>
                    <br>
                   
                    
</div>                     
                         
    {% comment %} <p><form action= {% url 'new_post' %} method="POST">{% csrf_token %}   
    <button class="btn"><i class="fa fa-envelope" aria-hidden="true"></i>Do you want to add a new post?</button> </p>     
    <hr>   
      {% endcomment %}
 


    {% block content %}
    
    {% endblock content %}

  


    {% block footer %}
 
    {% endblock footer %}
    
    </body>
</html>