{% extends 'base.html' %}

{% load staticfiles %}


{% block title %}

    Homepage - {{ block.super }}

{% endblock title %}

{% block content %}
<div class="main"> 
{% comment %} <script>
const chilipilis = {{ chilipilis.json | safe }} {% endcomment %}


{% for chilipili in chilipilis %}
  <h4> <a href="{{ chilipili.author_user }}">{{ chilipili.author_user }}</a></h4>

        {{ chilipili.text }} 

<div class="chilipili-div" data-url="{% url 'like_chilipili' chilipili.pk %}">
    {% csrf_token %}
    <button class="btn like-button" ><i class="glyphicon glyphicon-thumbs-up"></i></button>
    <p>Likes: <span class="like-count">{{ chilipili.likes.count }}</span></p>      
    
</div>


<div class="user-div" data-url="{% url 'follow_user' chilipili.author_user.pk %}">
    {% csrf_token %}
    <button class="btn follow-button"><i class="fa fa-angle-double-up">Follow</i></button>
    <p>Followers:<span class="follow-count">{{ chilipili.author_user.follows.count }}</span></p>

</div> 

{% endfor %}

{% endblock content %} 