{% extends 'base.html' %}

{% load staticfiles %}


{% block title %}

    Homepage - {{ block.super }}

{% endblock title %}

{% block content %}
 

{% for chilipili in chilipilis %}
  <h4> <a href="{{ chilipili.author_user }}">{{ chilipili.author_user }}</a></h4>

        {{ chilipili.text }}

<div class="chilipili-div" data-url="{% url 'like_chilipili' chilipili.pk %}">
    {% csrf_token %}
    <button class="btn like-button" ><i class="glyphicon glyphicon-thumbs-up"></i></button>
 <p>Likes!: <div class="like-count">{{ chilipili.likes.count }}</div> </p>
 </div>


{% endfor %}






{% endblock content %}